// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: CMR, serif;
$code-font-family: CMT, "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   18px
